FoamFile {
    version     2.0;
    format      ascii;
    class       dictionary;
    location    "system";
    object      controlDict;
}

startFrom           startTime;
startTime           0;
stopAt              endTime;
endTime             $endTime;
deltaT              $timestep;
writeControl        runTime;
writeInterval       $writeInterval;
writeFormat         binary;
writePrecision      12;
writeCompression    uncompressed;

